@media only screen and (min-width: 640px) {
  .logo {
    font-size: 24px;
    margin-left: 36px;
  }
  .hamburger {
    padding: 22px 24px 24px 27px;
    &__line {
      width: 31px;
      height: 4px;
      margin: 4px 0;
    }
  }
  .hero {
    padding-bottom: 198px;
    &__text--container {
      color: white;
      padding: 25px 0px 0px 38px;
    }
    &__text:first-child, &__text:nth-child(2) {
      font-size: 36px;
    }
    &__text:nth-child(2) {
      padding-top: 5px;
    }
  }
  .website {
    padding-top: 22px;
    font-size: 24px;
  }
}/* 
@media only screen and (min-width: 980px) {
  .menu-main {
    flex-direction: row;
    justify-content: space-between;
    &-left, &-right {
      width: 100%;
    }
  }
} */

/* @media only screen and (min-width: 640px) {
  
}

@media only screen and (min-width: 1200px) {}
*/