@media only screen and (min-width: 640px) {
  .products {
    vertical-align: top;
  }
  .product {
    &__name {
      font-size: 36px;
    }
    &__right-arrow {
    	width: 142px;
    	height: 150px;
    }
  }
}