.header {
  background-color: #373c3f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__left {
    margin: auto 0;
  }
}
.logo {
  color: white;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-left: 18px;
  vertical-align: top;
}
.hamburger {
  background-color: #202529;
  padding: 11px 12px 12px 13px;
  &__line {
    width: 16px;
    height: 2px;
    background-color: white;
    margin: 2px;
  }
}
.hero {
  background-image: url(../img/bg.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  /* background-clip: padding-box; */
  background-attachment: scroll;
  background-color: teal;
  padding-bottom: 94px;
  &__text--container {
    padding: 12px 0px 0px 19px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }
  &__text:nth-child(2) {
    padding-top: 2px;
  }
  &__text:first-child,
  &__text:nth-child(2) {
    font-size: 18px;
  }
}
.website {
  color: #a6d6e0;
  padding-top: 11px;
  font-size: 12px;
}