.products {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  &:nth-child(1) {
    background: url(../img/products/1.png) no-repeat 0 -284px;
    margin-bottom: 3px;
  }
  &:nth-child(2) {
    background: url(../img/products/2.png) no-repeat 0 -235px;
    margin-bottom: 2px;
  }
  &:nth-child(3) {
    background: url(../img/products/3.png) no-repeat 0 -36px;
  }
  &__left {
    margin: auto 0;
    width: 100%;
    text-align: center;
  }
  &__name {
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 700;
  }
  &_right {
    color: white;
    font-weight: 100;
    vertical-align: middle;
    margin: auto 0;
  }
  &__right-arrow {
    width: 71px;
    height: 75px;
    display: block;
  }
}
.pizza {
  position: relative;
  top: -2px;
  left: -1px;
}
.salads {
  position: relative;
  top: -2px;
  left: 0;
}
.desserts {
  position: relative;
  top: -7px;
  left: 3px;
}