
.menu {
 background-color: red;
 font-family: Lato, sans-serif;
 margin-top: 37px;
}
.menu-top-header {
 color: rgba(63, 64, 67, 255);
 font-size: 40px;
 font-weight: 400;
 text-align: left;
 text-transform: uppercase;
 padding: 0px 0px 0px 17px;
}
.menu-top-subheader {
 color: rgba(203, 204, 206, 255);
 font-size: 20px;
 padding: 6px 0px 0px 22px;
}
.menu-main {
 display: flex;
 flex-direction: column;
}
.menu-main-header {
 font-size: 40px;
 font-weight: 400;
 text-transform: uppercase;
 margin: 22px 0px -3px 0px;
 padding: 16px 0px 18px 36px;
}
.menu-main-header--dark {
 background-color: rgba(63, 64, 67, 255);
 color: rgba(172, 216, 173, 255);
}
.menu-main-header--light {
 background-color: rgba(172, 216, 173, 255);
 color: white;
}
.menu-main-item {
 padding: 2px 0px 0px 0px;
}
.menu-main-item-header {
 font-size: 30px;
 text-transform: uppercase;
 padding: 34px 0px 0px 35px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.menu-main-item-icon {
 vertical-align: top;
 position: relative;
 top: -11px;
 left: -36px;
}

.menu-main-item-subitems {
 margin: 22px 35px 0px 38px;
}
.menu-main-subitem {
 background-color: purple;
 margin-top: 18px;
}
.menu-main-subitem-top {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.menu-main-subitem-header {
 font-size: 27px;
 font-weight: 400;
 padding-left: 8px;
}
.menu-main-subitem-price {
 font-size: 27px;
 font-weight: 700;
}
.menu-main-subitem-descr {
 font-size: 17px;
 font-weight: 400;
 padding: 15px 0px 0px 0px;
 line-height: 20px;
 text-align: justify;
}

.footer {
 background-color: rgba(172, 216, 173, 255);
 color: white;
 font-size: 12px;
 text-align: center;
}